.students-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1F1F1F;
}

.student{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 60px;

}

.btn-restart{
    background-color: #F9E141;
    height: 58px;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px #f9e04194 ;
    transition: 1s;
    margin: 10px;
  }
  .btn-restart:hover{
    box-shadow: 1px 1px #f9e04194 ;
    
  }

@media screen and (min-width:768px){
    .students-container{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100vw;
        height: 100vh;
    }
    .student{
        width: 20%;
        height: 200px;
        margin: 50px;
        
    
    }
    .btn-restart{
        width: 20%;
        margin: 80px;
    }
}